<p> Guten Tag </p>
<p>Vielen Dank für Ihre Nachricht. </p>

<p>Sie interessieren sich für: {{ craft.app.request.getBodyParam('fromInteres') ?? '-' }} </p>

<p>Sie hören so schnell wie möglich von uns. </p>

 <br />
<p>Liebe Grüsse, </p>

<p>Ihr Stuber Team </p>

<br />
<img style="width: 80px; height: 40px;" src="https://www.stuberteam.ch/assets/images/StuberTeam_Logo_RGB_U_100.jpeg" />
<br />
<p>
    <div>Stuber Team AG</div>
    <div>Erlenstrasse 1</div>
    <div>6343 Rotkreuz</div>
    <div><a href="tel:+41417998700">+41 41 799 87 00</a></div>
    <div><a href="mailto:info@stuberteam.ch">info@stuberteam.ch</div>
    <div><a href="https://www.stuberteam.ch/">stuberteam.ch</a></div>
</p>
