.footer {
    background: $color__primary--dark;
    padding: 6.4rem;
    color: $color__bright;

    .info {
        align-self: center;
    }

    .biglogo {
        height: 26rem;
    }
    
    .mail {
        color: $color__accent;
    }

    .menu {
        margin-top: 3.2rem;
        a {
            font-size: 1.6rem;
            color: $color__accent;
            text-decoration: none;
            margin-left: 1.5rem;
            margin-top: .7rem;
            display: inline-block;
        }
    }
}