.summary {
  .overview{
    padding: 6.4rem 0 0 0;

    img {
      background: $color__bright;
    }

    .isometry {
      width: 45%;
      margin: 0 auto;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }

    .row {
      padding: 0 1.6rem;
    }

    .col-4 .row {
      border-bottom: 1px solid rgba($color__accent, 0.3);
      padding: .5rem 0;
    }

    .col-6:last-child{
      text-align: right;
    }
    .col-4 {
      text-align: right;
    }
  }

  .hero {
    img {
      height: 60rem;
      object-fit: cover;
    }
  }

  .formular {
    padding: 1rem;
    background-color: rgba($color__accent, 0.2);
    border-top: 2px solid $color__accent;

    p {
      font-size: 1.6rem;
    }
    form {
      margin-top: 3.2rem;
      .btn {
        margin: 3rem auto;
        border: none;
        cursor: pointer;
      }
    }
    .toggle {
      max-width: 50%;
      margin: 0 auto;

      label {
        width: 13.4rem;
      }
    }
    input {
      max-width: 50%;
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 1rem .5rem;
      margin-bottom: 1.5rem;
      border: none;
      border-bottom: 1px solid $color__grey--38;
    }
  }

  .option__size {
    position: relative;
    top: 1rem;
  }

  .radio input[type="radio"],
  .option__size {
    pointer-events: none;
  }

  .header {
    padding: 3rem;
    text-align: center;
    font-size: 3.2rem;
    background: $color__accent;
    position: relative;
  }

  img {
    display: block;
    width: 100%;
  }

  .text {
    @include container();
    padding: 6.4rem 0;

    &__inner {
      padding: 0 span(3 wide);
      img {
        width: 2.8rem;
        display: inline-flex;
        top: .5rem;
        position: relative;
      }
      h2 {
        display: inline-flex;
        margin-left: 2rem;
        margin-bottom: 1rem;
      }
    }

  }

  .social {
    display: flex;
    max-width: 75%;
    margin-left: auto;
    img {
      width: 3.2rem;
      height: 3.2rem;
      margin-left: 1.6rem;
    }
  }

  .member {
    text-align: right;
    margin-top: 9.5rem;

    strong {
      font-weight: bold;
      color: $color__accent;
      font-size: 1.8rem;
    }
  }

  .price-table {
    @include container();
    padding: 6.4rem span(3 wide) 0 span(3 wide);

    table{
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      overflow: hidden;
      margin-bottom: 3.2rem;
      border-bottom: 1px solid #ECF0F1;
      
     td, th{
        border-top: 1px solid #ECF0F1;
        padding: 10px;
      }
      
      td{
        border-left: 1px solid #ECF0F1;
        border-right: 1px solid #ECF0F1;
      }
      
      tr:nth-of-type(even) td{
        background-color: rgba($color__accent, 0.2);
      }
    }    
  }
}