@import '../../assets//scss/abstracts/variables';

.contactForm {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;

  &_header {
    display: flex;
    padding: 0 1rem;
    margin-bottom: 1rem;

    @media (max-width: 1000px) {
      padding: 0 2.4rem;
    }
  }

  &_icon {
    margin-right: 2rem;
  }

  &__error {
    color: #D31414;
  }

  .errors {
    position: relative;
    width: 80%;
    margin: -1rem 0;
    padding: 0;
    top: -1rem;
    left: 25%;
    color: #D31414;
  }

  .success__message {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 20rem;
    padding: .5rem;
    left: calc((100% - 93%)/2);
    font-size: 2rem;
    text-align: center;
    background: var(--color__secondary);
    transform: translateY(-100%);
    opacity: 0;
    transition: all .5s;


    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.formular {
  // padding: 1rem 0;
  background-color: var(--color__secondary_20);
  border-top: 2px solid var(--color__secondary);

  p {
    padding: 0 2.4rem;
    text-align: center;

    font-size: 1.6rem;
    line-height: 2rem;
  }

  form {
    position: relative;

    .btn {
      margin: 3rem auto;
      border: none;
      cursor: pointer;
    }
  }

  input {
    max-width: 50%;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 1rem .5rem;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid $color__grey--38;
    font-size: 1.2rem;
    line-height: 1.6rem;

    @media (max-width: 1000px) {
      width: 90%;
      max-width: 90%;
      padding: .5rem;
    }
  }
}

.form:valid .clienEmail:focus,
.form:valid .clienPhone:focus{
  outline: none;
  border: 1px solid $color__secondary;
  color: $color__dark;
}

.form_buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.form_button {
  width: 26rem;
  margin: 2rem;
  padding: 1.4rem;
  background: var(--color__primary);
  color: $color__bright;
  font-weight: 600; 
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 100%;
    margin: 1rem;
    margin-bottom: 0;
  }

  &.button__confirm {
    background: var(--color__cta);

    &:disabled {
      cursor: wait;
      background: var(--color__cta_50);
    }
  }
}
