img {
    &.full {
      display: block;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }
  
.image {
    &__main {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    &__wrapper {
        max-width: 100%;
        transition: max-width 0.3s ease-in-out;

        img {
            object-fit: cover;
        }

        &--active {
        overflow: scroll;
        max-width: calc(100% - 420px);
        position: relative;
        display: block;
        cursor: grab;
        }
    }

    &--centered {
        position: absolute;
        bottom: 0;
        left: calc(50% - 12rem);
        transform: translateX(-50%);
    }
}
  
.full {
width: 100vw;
position: relative;

img {
    object-fit: cover;

    &.full {
    height: 100vh;
    }
}
}
  