@import '../../assets/scss/abstracts/variables';

.infoBox {
    position: absolute;
    left: 50%;
    transform: translateX(-80%);
    bottom: 2.4rem;
    max-width: 66rem;
    background: rgba($color__bright, 0.8);
    padding: 2.4rem;
    height: 9rem;
    overflow: hidden;
    transition: .25s height ease-in;
    width: 100%;

    @media (max-width: 1300px) {
      width: calc((100% - 60rem));
      transform: translateX(-87%);
      height: 5.6rem;
      padding: 1.6rem 2.4rem;
    }

    @media (max-width: 1000px) {
      width: calc((100% - 52rem));
      transform: translateX(0);
      left: 5%;
    }

    @media (max-width: 768px) {
      bottom: 5.2rem;
      left: calc((100% - 36rem)/2);
      transform: translateX(0);
      width: calc(100% - 4.8rem);
      max-width: calc(36rem - 4.8rem);
      height: 5.6rem;
      padding: 1.6rem 2.4rem;
    }
  
    h2 {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.4rem;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
  
    .row {
      align-items: center;
    }
  
    .close {
      margin-left: auto;
      cursor: pointer;
    }
  
    .expand {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0px;
      height: 5rem;
      background: linear-gradient(0deg, rgba($color__bright, 1), rgba($color__bright, 0) 150%);
      cursor: pointer;
  
      &:after {
        content: '';
        background: url('/chevron-up.svg');
        background-size: cover;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .text_block {
      display: flex;
    }
  
    .text_block__text {
      margin-top: 1.6rem;
      font-size: 1.8rem;
      line-height: 2.7rem;

      @media (max-width: 768px) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  
    &.open {
      height: auto;
    }
  
    &.closed {
      height: auto;
  
      .text_block__text {
        display: none;
      }
    }
  }
  