@import '../../assets/scss/abstracts/variables';

.radio {
    background: $color__bright;
    margin-bottom: .8rem;

    input[type="radio"] {
        width: 2rem;
        height: 2rem;
        filter: hue-rotate(108deg) grayscale(0.4);
        // accent-color: var(--color__secondary);
        cursor: pointer;
    }
    
    label {
        cursor: pointer;
    }

    .option__input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &.active {
            background: red;
        }
    }

    .option__size {
        font-weight: 800;
    }

    .option__description {
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
            font-size: 1.5rem;
            line-height: 1.8rem;
            font-weight: 600;
        }

        h5 {
            font-size: 1.6rem;
            line-height: 1.8rem;
            font-weight: 400;
        }
    }

    .option__price {
        display: flex;
        align-items: center;
        // background: rgba(0,0,0,.1);
        border-left: 2px solid $color__grey--6;
        margin: 0!important;
        padding: .5rem;

        span {
            font-size: 1.5rem;
            line-height: 1.8rem;
            font-weight: 400;
        }
    }

    &.final {
        background-color: var(--color__primary_10);
        
        .option__price {
            border-left: 2px solid $color__bright;
        }
        
    }
}

.optionWrapper {
    min-height: opx;


    &.collapsed {
        height: 0px;
        overflow: hidden;
    }
}

.optionHeader {
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.optionTitle {
    text-align: center;
}

.optionsList {

    max-height: 200rem;
    transition: all 0.4s ease-in-out;

    &.collapsed {
        overflow: hidden;
        max-height: 0px;
        transition: all 0.4s ease-in-out;
    }
}

.radio input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.arrow {
    cursor: pointer;

    &:before {
      border-style: solid;
      border-width: 3px 3px 0 0;
      content: '';
      display: inline-block;
      height: 10px;
      position: relative;
      vertical-align: middle;
      width: 10px;
      margin-right: 1.6rem;
      transform: rotate(-45deg);
    }

    &.rotate {
      &:before {
        transform: rotate(-225deg);
      }
    }
  }

.toggle {
    display: flex;
    justify-content: space-between;

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: rem(64);
        height: rem(32);
        background: rgba($color__dark, 0.1);
        display: block;
        border-radius: 100px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: rem(32);
            height: rem(32);
            background: rgba($color__dark, 0.38);
            border-radius: 90px;
            transition: 0.3s;
        }
        &:before {
            opacity: 0;
        }
    }
}



.radio input:checked + label {
	&:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: rem(32);
        height: rem(32);
        background: $color__accent;
        border-radius: 90px;
        transition: 0.3s;
    }

    &:before {
        content: '';
        background-image: url('/check.svg');
        display: inline-block;
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        background-repeat: no-repeat;
        fill: white;
        margin-right: 1rem;
        top: 3px;
        right: -6px;
        z-index: 123;
        opacity: 1;
        transition: 0.15s opacity ease-in;
    }
}

.radio input:checked + label:after {
	left: 100%;
	transform: translateX(-100%);
}

.radio label:active:after {
	width: 130px;
}



