.pin {

    width: 5rem;
    cursor: pointer;
    position: absolute;

    .full img {
        fill:#D60070;
    }

    // @media (max-width: 1000px) {
    //     left: 0 !important;
    //   }
}

.pins {
    position: absolute;
    width: 100%;
    height: 100vh;
    // z-index: 100;
    top: 0;
    left: 0;

    &.animate {
        // animation-name: moving;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
    }

}

// .top0 {
//     top: 0%;
// }
// .top5 {
//     top: 5%;
// }
// .top10 {
//     top: 10%;
// }
// .top15 {
//     top: 15%;
// }
// .top20 {
//     top: 20%;
// }
// .top25 {
//     top: 25%;
// }
// .top30 {
//     top: 30%;
// }
// .top35 {
//     top: 35%;
// }
// .top40 {
//     top: 40%;
// }
// .top45 {
//     top: 45%;
// }
// .top50 {
//     top: 50%;
// }
// .top55 {
//     top: 55%;
// }
// .top60 {
//     top: 60%;
// }
// .top65 {
//     top: 65%;
// }
// .top70 {
//     top: 70%;
// }
// .top75 {
//     top: 75%;
// }
// .top80 {
//     top: 80%;
// }
// .top85 {
//     top: 85%;
// }
// .top90 {
//     top: 90%;
// }
// .top95 {
//     top: 95%;
// }
// .top100 {
//     top: 100%;
// }

// .left0 {
//     left: 0%;

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0)
//     }
// }
// .left5 {
//     left: calc((100% + 36rem) * 0.05);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.05)
//     }
// }
// .left10 {
//     left: calc((100% + 36rem) * 0.1);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.1 - (1500px - 100vw)/2);
//     }
// }
// ///////-----------------
// .left15 {
//     left: calc((100% + 36rem) * 0.1);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.15)
//     }
// }
// ///////-----------------
// .left15 {
//     left: calc((100% + 36rem) * 0.15);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.15 - (1500px - 100vw)/3);
//     }
// }








// .left20 {
//     left: calc((100% + 36rem) * 0.2);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.2 - (1500px - 100vw)/4);
//     }
// }
// .left25 {
//     left: calc((100% + 36rem) * 0.25);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.25 - (1500px - 100vw)/5);
//     }
// }
// .left30 {
//     left: calc((100% + 36rem) * 0.3);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.3 - (1500px - 100vw)/6);
//     }
// }
// .left35 {
//     left: calc((100% + 36rem) * 0.35);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.35 - (1500px - 100vw)/7);
//     }
// }
// .left40 {
//     left: calc((100% + 36rem) * 0.4);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.4 - (1500px - 100vw)/8);
//     }
// }
// .left45 {
//     left: calc((100% + 36rem) * 0.45);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.45 - (1500px - 100vw)/9);
//     }
// }
// .left50 {
//     left: calc((100% + 36rem) * 0.5);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.5 - (1500px - 100vw)/10);
//     }
// }
// .left55 {
//     left: calc((100% + 36rem) * 0.55);

//     @media (max-width: 1500px) {
//         left: calc((100% + 36rem) * 0.55 - (1500px - 100vw)/11);
//     }
// }
// .left60 {
//     left: calc((100% + 36rem) * 0.5);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.6)
//     }
// }
// .left65 {
//     left: calc((100% + 36rem) * 0.55);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.65)
//     }
// }
// .left70 {
//     left: calc((100% + 36rem) * 0.6);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.7)
//     }
// }
// .left75 {
//     left: calc((100% + 36rem) * 0.58);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.75)
//     }
// }
// .left80 {
//     left: calc((100% + 36rem) * 0.63);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.8)
//     }
// }
// .left85 {
//     left: calc((100% + 36rem) * 0.65);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.85)
//     }
// }
// .left90 {
//     left: calc((100% + 36rem) * 0.75);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.9)
//     }
// }
// .left95 {
//     left: calc((100% + 36rem) * 0.7);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 0.95)
//     }
// }
// .left100 {
//     left: calc((100% + 36rem) * 0.8);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 1)
//     }
// }
// .left105 {
//     left: calc((100% + 36rem) * 0.9);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 1.05)
//     }
// }
// .left110 {
//     left: calc((100% + 36rem) * 0.9);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 1.1)
//     }
// }
// .left115 {
//     left: calc((100% + 36rem) * 0.9);

//     @media (max-width: 1000px) {
//         left: calc(1000px * 1.15)
//     }
// }


@keyframes moving {
    from {
        left: 0;
    }
  
    25% {
        left: -60rem;
    }
  
    50% {
        left: 20rem;
    }
  
    75% {
      left: -21rem;
    }
  
    to {
        left: 0;
    }
  }
