@import '../assets/scss/abstracts/variables';

.type__wrapper {

  position: relative;
  overflow: hidden;

  @media (max-width: 768px) {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
  }
}

.image {

  &__main {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  &__wrapper {
    width: 100vw;
    transition: all 0.3s ease-in-out;
  }

  &__wrapperActive {
    overflow: scroll;
    width: calc(100% - 420px);
    position: relative;
    display: block;
    cursor: grab;
    transition: all 0.3s ease-in-out;
    flex: 0 0 100%;
    
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &--centered {
    position: absolute;
    bottom: 0;
    left: calc(50% - 12rem);
    transform: translateX(-50%);
  }
}

img {
  &.full {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;

    &.animate {
      animation-name: moving;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
    }

    @media (max-width: 768px) {
      width: auto;
    }
  }
}
.image__container {
  position: relative;
}

.image__wrapper.animate {
  // width: 50%;
  animation-name: sliding;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: .5s;
}

.btn__getContacts {
  position: absolute;
  bottom: 4rem;
  right: 12rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;

  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  margin: 0;
  background: var(--color__cta);
  color: $color__bright;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.3s ease-in;

  &_shift {
    right: 50rem;
  }

  & > * {
    margin-left: 4rem;
  }
  h4 {
    font-size: 16px;
    font-weight: 400;
  }

  h3 {
    font-size: 12px;
  }

  &.disabled {
    background: var(--color__cta_30);
  }

  &::before {
    content: '';
    background: url('/Person.svg');
    display: block;
    position: absolute;
    left: 1rem;
    top: calc(50% - 1.3rem);
    width: 2.6rem;
    height: 2.6rem;
    background-repeat: no-repeat;
  }
}

@keyframes sliding {
  from {
      left: 100%;
  }

  to {
      left: 0;
  }
}

@keyframes moving {
  from {
    left: 0;
  }

  // 25% {
  //     left: -60rem;
  // }

  50% {
      left: -50rem;
  }

  // 75% {
  //   left: -21rem;
  // }

  to {
      left: -25rem;
  }
}
