.card {
  position: relative;
  cursor: pointer;
  min-width: 32rem;

  &__wrapper {
    position: relative;
  }

  &__edit {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    max-width: 2rem;
    z-index: 1;
  }

  &__image {
    max-width: 12.5rem;
    width: 100%;
  }

  img {
    display: block;
    box-sizing: border-box;
    border: .4rem solid transparent;
    width: 100%;
  }

  &.active {
    cursor: default;

    &:after {
      content: '';
      background: url('/check.svg');
      width: rem(24);
      height: rem(24);
      position: absolute;
      top: rem(40);
      right: rem(8);
    }

    &::before {
      position: absolute;
      top: 3.1rem;
      right: 0;
      content: '';
      width: 4rem;
      height: 4rem;
      background-color: $color__secondary;
    }

    img {
      border: .4rem solid $color__secondary;
    }
  }

  .row [class^="col"] {
    margin: 0;
  }

  &__title {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &.small {
    background-color: $color__bright;
    margin-bottom: 0.8rem;

    .col-8 {
      padding: 0.8rem 1.6rem 0.8rem 0.8rem;
    }

    &.active {
      background-color: $color__secondary;
      cursor: default;

      img {
        border: .4rem solid $color__accent;
      }

      &::before {
        display: none;
      }

      &:after {
        display: none;
      }

      .row {
        // background: $color__bright;

        &:after {
          content: '';
          background: url('/check.svg');
          width: 2.4rem;
          height: 2.4rem;
          position: absolute;
          top: .4rem;
          right: .4rem;
          }
      }
    }
  }
}