.modal {
    position: relative;
    margin-left: auto;
    &__content {
        position: absolute;
        background: rgba($color__bright, 0.9);
        padding: 20px;
        top: 0;
        transform: translate(-100%, -100%);
        border: 1px solid #cccccc;
        width: 27rem;
        box-shadow: 1px 2px 7px 0px #f5f5f5;
        opacity: 0;
        transition: 0.15s opacity ease-out;
        visibility: hidden;

        &.show {
            opacity: 1;
            transition: 0.15s opacity ease-in;
            visibility: visible;
        }
    }

    .icon {
        cursor: pointer;
        opacity: .38;
    }
}