.option {
  cursor: pointer;
  text-align: center;

  &__description {
    border-bottom: .2rem solid transparent;
  }

  &__price {
    margin: 0 !important;
    background: $color__grey_6;
    padding: 1.1rem;
    text-align: right;
  }
  &__size {
    font-weight: bold;
  }
}

.options {
  &__item {
    display: flex;
    background: $color__grey_6;
    padding: .8rem 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

  &__wrapper {
    margin: 2.4rem 0;

    h3 {
      margin-bottom: 1.6rem;
    }
  }

  &__description {
    margin-left: auto;
  }

  &__price {
    flex: 0 0 100%;
    text-align: right;
  }

}